<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Claim Timeline</title>
	<style>
		.timeline {
			border-left: 3px solid #333;
			padding-left: 20px;
		}

		.event {
			margin-bottom: 20px;
		}

		.event span {
			font-weight: bold;
		}
	</style>
</head>

<body>

	<h2>Claim Timeline – ID <span th:text="${claim.id}"></span></h2>

	<div class="timeline">
		<div class="event" th:each="log : ${timeline}">
			<p>
				<span th:text="${log.fromStatus}"></span>
				→
				<span th:text="${log.toStatus}"></span>
			</p>
			<p>By: <span th:text="${log.actionBy.fullName}"></span></p>
			<p th:text="${log.remarks}"></p>
			<small th:text="${log.actionAt}"></small>
		</div>
	</div>

	<a href="javascript:history.back()">⬅ Back</a>

</body>

</html>